<h1> Add a new photo </h1>

<form action="/create_photo">
  <label for="url">
    Image URL
  </label>
  <input type="text" id="url" name="source">
  <label>
    Caption
  </label for"caption">
  <input type="text" id="url" name="caption">
  <button> Add photo </button>
</form>
